.title-bar {
    display: grid;
    grid-template-columns: 1fr 100px;
    width: 100%;
    background: linear-gradient(to left, #7d7e7d 1%,#0e0e0e 100%);
    color: rgb(255, 250, 205);
}

.button-container {
    display: flex;
    justify-content: space-around;
    animation: fadein 1s;
    height: 60px;
}

.title {
    padding: 2em;
    font-family: Roboto, sans-serif;
}

h1 {
    margin: 0;
}

.text-button {
    width: 100%;
}

.text-page {
    min-height: 100%;
    width: 100%;
    padding-bottom: 2em;
    background: linear-gradient(to right, #ffffff 60%,#e5e5e5 100%);
    animation: fadein 2s, enterLeft 1s;
}

.text-content {
    padding: 2em;
    font-size: 1.5em;
    font-family: Roboto, sans-serif;
    line-height: 30px;
}

.Typist--blinking {
    display: inline-block;
    opacity: 1;
    animation: blink 1s linear infinite;
}

.Cursor--blinking {
    display: inline-block;
    opacity: 1;
    animation: blink 1s linear infinite;
}

.ui-button-text {
    margin: 1em;
}

button:hover {
    transform: scale(1.2);
}

#left, #right {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#menu {
    border: none;
    color: black;
    background: none;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes enterLeft {
    from {
        position: relative;
        height: 100vh;
        left: -100px;
    }
    to {
        height: 100%;
        position: relative;
        left: 0;
    }
}
